table {
  margin-top: 25px;
  border: 1px solid black;
  font-size: 24px;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.visited {
  background-color: gray;
}

#go {
	display: block;
}

#answers-container {
	margin-left: 20px;
}