table {
  margin-top: 25px;
  border: 1px solid black;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.visited {
  background-color: red;
}

.unvisited {
  background-color: green;
}